* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    min-width: 1200px;

    a {
        text-decoration: none
    }

    .el-header,
    .el-main,
    .el-footer {
        padding: 0;
    }
}

.cb-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &:before {
        display: table;
        content: " ";
        clear: both;
    }

    &:after {
        clear: both;
        display: table;
        content: " ";
    }
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

// color
$white: #fff;
$black: #333;
$gray: #999;
$grayFont: #666;
$green: #ccc;
$grayline: #eee;
$blue: #11a9e8;
$blueHover: #0099d9;
$red: #f33c12;
$buildingNavBg: #272d36;
$blackBg: #2d2e2f;
$grayBg: #f8f8f8;
$blackImgTextBg: #f8f8f8;
$line: #aaa;
$textListNum: #e3e3e3;

// font-size
$default-font-size: 14px;
$min-font-size: 12px;
$mid-font-size: 16px;
$max-font-size: 18px;
$bid-font-size: 24px;

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    border-radius: 6px;
}
